@import "tailwindcss";

/* Solo previene dark mode - NADA MÁS */
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

/* Para el nombre */
.font-great-vibes {
  font-family: 'Great Vibes', cursive !important;
}

/* Para mis XV años */
.font-crimson {
  font-family: 'Crimson Text', serif !important;
}

/* Para dedicatoria*/
.font-cormorant {
  font-family: 'Cormorant Garamond', serif !important;
}

/*Para texto con Charm */
.font-charm {
  font-family: 'Charm', cursive !important;
}